[Desktop Entry]
Type=Application
Name=Varjoaika
Comment=Gothic lunar calendar and transparent desktop clock
Exec=goottikalenteri
Icon=goottikalenteri
Terminal=false
Categories=Office;Calendar;
StartupNotify=true
